.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100vh;
  font-size: 50px;
  background-image: url("./img/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 5px solid black;
}