.status-holder {
  height: 70vh;
    h3 {
      font-size: 50px;
    }
}


.jediItems {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    p {
      margin-top: 30px;
      letter-spacing: 5px;
    }
}

.lightsaber, .falcon {
  margin-top: 30px;
  padding: 30px;
  border: 5px solid grey;
  border-radius: 50%;
}

.lightsaber {
  padding: 50px;
}

.total {
  text-align: center;
}